<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" >
    <script src="{{ url_for('static', filename='all.js') }}"></script>

    <!---Our Custom CSS Style sheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>APPOINTMENTS-DMS</title>
  </head>
  <body>
    <header>
      <div class="p-1" id="topheader"  style="background-color: white;">
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid" style="background-color: white;">
            <a class="navbar-brand" href="#" style="padding-left: 50px;"><img  class="img-fluid" src="{{ url_for('static', filename='p.images/2022-03-07 (1).png') }}" alt="image" style="width:400px;"></a>
            <form class="d-flex">
              <a href="mailto:cse200001052@iiti.ac.in" style="padding-right: 50px;"><button type="button" class="btn btn-info"><i class="fa-solid fa-envelope"></i> &nbsp; Get in Touch</button></a>
            </form>
          </div>
        </nav>
       </div>
       <div id="bottomheader">
         <div class="container-fluid">
           <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#f1f2f6;">
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class="navbar-nav">
               <li class="nav-item">
                 <a class="nav-link" href="/register1" style="font-size: 0.89rem;padding-left: 70px;">HOME</a>
               </li>
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="records.html" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"  style="font-size:  0.89rem;">RECORDS</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"
                  <li><a class="dropdown-item" href="action.html" style="font-size:  0.89rem;">Past</a></li>
                  <div class="dropdown-divider"></div>
                  <li><a class="dropdown-item" href="something.html" style="font-size: 0.89rem;">Present</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="search" style="font-size:  0.89rem;">SEARCH DEPT.</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="favourites" style="font-size: 0.89rem;">FAVOURITES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="appointments" style="font-size:  0.89rem;">APPOINTMENTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="insurance" style="font-size: 0.89rem;">INSURANCE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="blog" style="font-size:  0.89rem;">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="aboutus" style="font-size: 0.89rem;">ABOUT US</a>
              </li>
              <li class="nav-item my-nav">
                <a class="nav-link disabled" href="contactus" style="font-size:  0.89rem;">CONTACT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#"><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link disabled" href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#"><i class="fa-brands fa-instagram"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="role"><i class="fa-solid fa-circle-user" style="color: green;"></i></a>
              </li>


             </ul>

           </nav>

         </div>
         
       </div>
     </header>
     <section class="pt-2 pb-3">
        <div class="container" style="width: 70%;">
          <div class="row">
          <div class="col-md-3">
            <div class="card" style="text-align: center;">
              <img src="{{ url_for('static', filename='p.images/2022-04-03 (1).png') }}" class="card-img-top text-center my-img" alt="profile" style="height: 80px;width: 100px;border-radius: 50%;">
              <div class="card-body">
                <h5 class="card-title text-muted">{{a}}</h5>
                <p class="card-text text-muted">Total Appointments:{{k}}</p>
                <a href="edit" class="btn btn-secondary btn-sm">Update Profile</a>
              </div>
            </div>
          </div>
          <div class="col-md-9" style="padding-left: 40px;">
            <h3 class="text-muted">Manage Your Appointments</h3>
            <p class="text-muted">View your upcoming and previous appointments and incase cancel your appointments and book again <br>
              Time Zone:India Standard Time(GMT+5:30)</p>
              <table class="table table-striped my-table">
                <thead>
                  <tr>
                  <ul class="nav nav-tabs">
                   <li class="nav-item" style="width: 23rem;">
                      <a class="nav-link active" aria-current="page" href="#">Upcoming</a>
                    </li>
                    <li class="nav-item" style="width: 23rem;">
                      <a class="nav-link" href="pastappointments" style="color: #bdc3c7;">History</a>
                    </li>
                  </ul>
                </tr>
                </thead>
                {% for i in c%}
                {% if i[5] == "Not Completed" %}
                <tbody>
                  <tr>
                    <th scope="row" colspan="1" class="text-muted">1</th>
                    <td colspan="2">{{i[2]}}</td>
                    <td colspan="2">{{i[1]}}</td>
                    <td colspan="2">{{i[3]}}</td>
                    <td colspan="2">{{i[4]}}</td>
                    <td colspan="2"><a href="/cancel/{{i[2]}}/{{i[3]}}/{{i[4]}}"><button type="button" class="btn btn-secondary btn-sm">Cancel Appointment</button></a></td>
                  </tr>
                </tbody>
                {%endif%}
                {%endfor%}
              </table>
            </div>
            </div>
        </div>


     </section>
      <!--start footer-->
      <section>
        <footer class="full-footer">
         <div class="container top-footer" style="text-align: center;">
           <div class="row">
             <div class="col-xs-12">
               <h5>MEDX-CURE</h5><br>
               <a class="p-1" href="mailto:cse200001052@iiti.ac.in" style="color: black;"><i class="fa-solid fa-envelope"></i>cse200001052@gmail.com</a><br>
               <a class="p-1" href="tel:+918328460779" style="color: black;"><i class="fa-solid fa-phone"></i>+(91) 8328460779</a>
               <a class="p-1" href="fax:+0123456789" style="color: black;"><i class="fa-solid fa-fax"></i>+0123456789</a><br><br>
               <a class="p-1" href="#" style="color: black;"><i class="fa-brands fa-facebook"></i></a>
               <a class="p-1" href="#" style="color: black;"><i class="fa-brands fa-twitter"></i></a>
               <a class="p-1" href="#" style="color: black;"><i class="fa-brands fa-instagram"></i></a>
   
   
   
             </div>
            </div>
          </div>
          <div class="container-fluid bottom-footer pt-1" style="background-color:#f1f2f6;">
            <div class="row">
              <div class="col-xs-12" style="text-align: center;">
                <p>All Copyrights are reserved</p>
   
              </div>
   
            </div>
   
   
          </div>
   
   
   
   
        </footer>
       </section>

   





     <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!---
    
    <script src="bootstrap\js\popper.min.js"></script>
    <script src="bootstrap\js\bootstrap.min.js"></script>
    -->
  </body>
  </html>